---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.16.5
  name: wekapolicies.weka.weka.io
spec:
  group: weka.weka.io
  names:
    kind: WekaPolicy
    listKind: WekaPolicyList
    plural: wekapolicies
    singular: wekapolicy
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - description: Type
      jsonPath: .spec.type
      name: Type
      type: string
    - description: Status
      jsonPath: .status.status
      name: Status
      type: string
    - description: Policy-specific progress
      jsonPath: .status.progress
      name: Progress
      type: string
    - description: Last result
      jsonPath: .status.result
      name: Result
      priority: 1
      type: string
    - description: Interval
      jsonPath: .spec.payload.interval
      name: Interval
      priority: 1
      type: string
    - description: Last run time
      jsonPath: .status.lastRunTime
      name: Last Run Time
      priority: 1
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: WekaPolicy is the Schema for the wekapolicies API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: WekaPolicySpec defines the desired state of WekaPolicy
            properties:
              image:
                type: string
              imagePullSecret:
                type: string
              payload:
                properties:
                  discoverDrivesPayload:
                    properties:
                      nodeSelector:
                        additionalProperties:
                          type: string
                        type: object
                    type: object
                  driverDistPayload:
                    description: DriverDistPayload defines the parameters for the
                      enable-local-drivers-distribution policy
                    properties:
                      architectureLabelKey:
                        description: |-
                          ArchitectureLabelKey is the custom label key to use for storing the node's architecture.
                          If not specified, "weka.io/architecture" will be used.
                        type: string
                      builderPreRunScript:
                        description: BuilderPreRunScript is an optional script to
                          run on builder containers after kernel validation.
                        type: string
                      distNodeSelector:
                        additionalProperties:
                          type: string
                        description: |-
                          DistNodeSelector is the node selector for the drivers distribution (dist) container.
                          If not specified, the dist container will be scheduled on any available node.
                        type: object
                      ensureImages:
                        description: EnsureImages is a list of Weka images for which
                          drivers should be proactively built.
                        items:
                          type: string
                        type: array
                      kernelLabelKey:
                        description: |-
                          KernelLabelKey is the custom label key to use for storing the node's kernel version.
                          If not specified, "weka.io/kernel" will be used.
                        type: string
                      nodeSelectors:
                        description: |-
                          NodeSelectors is a list of node selectors. Nodes matching any of these selectors will be considered for driver building.
                          If empty, all nodes in the cluster are considered.
                        items:
                          additionalProperties:
                            type: string
                          type: object
                        type: array
                    type: object
                  ensureNICsPayload:
                    properties:
                      dataNICsNumber:
                        type: integer
                      nodeSelector:
                        additionalProperties:
                          type: string
                        type: object
                      type:
                        type: string
                    required:
                    - type
                    type: object
                  interval:
                    default: 5m
                    pattern: ^(0|([0-9]+(\.[0-9]+)?(s|m|h))+)$
                    type: string
                  schedulingConfigPayload:
                    type: object
                  signDrivesPayload:
                    properties:
                      devicePaths:
                        items:
                          type: string
                        type: array
                      nodeSelector:
                        additionalProperties:
                          type: string
                        type: object
                      options:
                        properties:
                          allowEraseNonWekaPartitions:
                            type: boolean
                          allowEraseWekaPartitions:
                            type: boolean
                          allowNonEmptyDevice:
                            type: boolean
                          skipTrimFormat:
                            type: boolean
                        type: object
                      pciDevices:
                        description: |-
                          PCI vendor and device IDs of the drives to sign.
                          To get the values for VendorId and DeviceId:
                          1. Run the following command to list all PCI devices on your system:
                             ```bash
                             lspci -nn
                             ```
                          2. Find the relevant PCI device in the output, which will display both the
                             vendor and device IDs in square brackets in the format [vendorId:deviceId].
                             For example:
                             ```
                             00:1f.0 Non-Volatile memory controller [0108]: Amazon.com, Inc. NVMe SSD Controller [1d0f:cd01]
                             ```
                        properties:
                          deviceId:
                            description: |-
                              DeviceId is the 4-digit hexadecimal device ID
                              default for AWS: `cd01` (NVMe SSD)
                            pattern: ^[0-9a-fA-F]{4}$
                            type: string
                          vendorId:
                            description: |-
                              VendorId is the 4-digit hexadecimal vendor ID
                              default for AWS: `1d0f` (Amazon.com, Inc.)
                            pattern: ^[0-9a-fA-F]{4}$
                            type: string
                        required:
                        - deviceId
                        - vendorId
                        type: object
                      type:
                        enum:
                        - aws-all
                        - gcp-all
                        - device-identifiers
                        - device-paths
                        - all-not-root
                        type: string
                    required:
                    - type
                    type: object
                  waitForPolicies:
                    items:
                      type: string
                    type: array
                type: object
              serviceAccountName:
                type: string
              tolerations:
                items:
                  description: |-
                    The pod this Toleration is attached to tolerates any taint that matches
                    the triple <key,value,effect> using the matching operator <operator>.
                  properties:
                    effect:
                      description: |-
                        Effect indicates the taint effect to match. Empty means match all taint effects.
                        When specified, allowed values are NoSchedule, PreferNoSchedule and NoExecute.
                      type: string
                    key:
                      description: |-
                        Key is the taint key that the toleration applies to. Empty means match all taint keys.
                        If the key is empty, operator must be Exists; this combination means to match all values and all keys.
                      type: string
                    operator:
                      description: |-
                        Operator represents a key's relationship to the value.
                        Valid operators are Exists and Equal. Defaults to Equal.
                        Exists is equivalent to wildcard for value, so that a pod can
                        tolerate all taints of a particular category.
                      type: string
                    tolerationSeconds:
                      description: |-
                        TolerationSeconds represents the period of time the toleration (which must be
                        of effect NoExecute, otherwise this field is ignored) tolerates the taint. By default,
                        it is not set, which means tolerate the taint forever (do not evict). Zero and
                        negative values will be treated as 0 (evict immediately) by the system.
                      format: int64
                      type: integer
                    value:
                      description: |-
                        Value is the taint value the toleration matches to.
                        If the operator is Exists, the value should be empty, otherwise just a regular string.
                      type: string
                  type: object
                type: array
              type:
                type: string
            required:
            - payload
            - type
            type: object
          status:
            description: WekaPolicyStatus defines the observed state of WekaPolicy
            properties:
              lastRunTime:
                format: date-time
                type: string
              progress:
                type: string
              result:
                type: string
              status:
                type: string
              typedStatus:
                description: TypedPolicyStatus holds status fields specific to a policy
                  type
                properties:
                  distService:
                    description: DistServiceStatus holds the status for the enable-local-drivers-distribution
                      policy
                    properties:
                      serviceUrl:
                        type: string
                    type: object
                type: object
            required:
            - lastRunTime
            - result
            - status
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
