{{- range $conf := .Values.dpuDeployments }}
---
apiVersion: svc.dpu.nvidia.com/v1alpha1
kind: DPUDeployment
metadata:
  name: {{ $conf.name | quote }}
  namespace: {{ $.Release.Namespace }}
spec:
  {{- if $conf.dpus }}
  dpus: {{ $conf.dpus | toYaml | nindent 4 }}
  {{- end }}
  {{- if $conf.services }}
  services: {{ $conf.services | toYaml | nindent 4 }}
  {{- end }}
  {{- if $conf.serviceChains }}
  serviceChains: {{ $conf.serviceChains | toYaml | nindent 4 }}
  {{- end }}
  {{- if $conf.revisionHistoryLimit }}
  revisionHistoryLimit: {{ $conf.revisionHistoryLimit | toYaml | nindent 4 }}
  {{- end }}
{{- end }}