{{- range $conf := .Values.dpuServiceInterfaces }}
---
apiVersion: svc.dpu.nvidia.com/v1alpha1
kind: DPUServiceInterface
metadata:
  name: {{ $conf.name | quote }}
  namespace: {{ $.Release.Namespace }}
spec:
  {{- if $conf.clusterSelector }}
  clusterSelector: {{ $conf.clusterSelector | toYaml | nindent 4 }}
  {{- end }}
  template:
    spec:
      template: {{ $conf.template | toYaml | nindent 8 }}
{{- end }}