{{- range $conf := .Values.dpuServices }}
---
apiVersion: svc.dpu.nvidia.com/v1alpha1
kind: DPUService
metadata:
  name: {{ $conf.name | quote }}
  namespace: {{ $.Release.Namespace }}
spec:
  {{- if $conf.configPorts }}
  configPorts: {{ $conf.configPorts | toYaml | nindent 4 }}
  {{- end }}
  {{- if $conf.deployInCluster }}
  deployInCluster: {{ $conf.deployInCluster }}
  {{- end }}
  {{- if $conf.helmChart }}
  helmChart: {{ $conf.helmChart | toYaml | nindent 4 }}
  {{- end }}
  {{- if $conf.interfaces }}
  interfaces: {{ $conf.interfaces | toYaml | nindent 4 }}
  {{- end }}
  {{- if $conf.paused }}
  paused: {{ $conf.paused }}
  {{- end }}
  {{- if $conf.serviceDaemonSet }}
  serviceDaemonSet: {{ $conf.serviceDaemonSet | toYaml | nindent 4 }}
  {{- end }}
  {{- if $conf.serviceID }}
  serviceID: {{ $conf.serviceID }}
  {{- end }}
{{- end }}