{{- range $conf := .Values.dpuServiceConfigurations }}
---
apiVersion: svc.dpu.nvidia.com/v1alpha1
kind: DPUServiceConfiguration
metadata:
  name: {{ $conf.name | quote }}
  namespace: {{ $.Release.Namespace }}
spec:
  deploymentServiceName: {{ $conf.name | quote }}
  {{- if $conf.interfaces }}
  interfaces: {{ $conf.interfaces | toYaml | nindent 4 }}
  {{- end }}
  {{- if $conf.serviceConfiguration }}
    {{- if eq $conf.name "ovn" }}
      {{- $k8s := dig "helmChart" "values" "k8sAPIServer" "NotFound" $conf.serviceConfiguration }}
      {{- $k := dict "k8sAPIServer" (include "k8sEndpoint" $k8s) }}
      {{- $v := dict "values" $k }}
      {{- $h := dict "helmChart" $v }}
  serviceConfiguration: {{ merge $h $conf.serviceConfiguration | toYaml | nindent 4 }}
    {{- else }}
  serviceConfiguration: {{ $conf.serviceConfiguration | toYaml | nindent 4 }}
    {{- end }}
  {{- end }}
  {{- if $conf.upgradePolicy }}
  upgradePolicy: {{ $conf.upgradePolicy | toYaml | nindent 4 }}
  {{- end }}
{{- end }}