{{- range $conf := .Values.dpuServiceCredentialRequests }}
---
apiVersion: svc.dpu.nvidia.com/v1alpha1
kind: DPUServiceCredentialRequest
metadata:
  name: {{ $conf.name | quote }}
  namespace: {{ $.Release.Namespace }}
spec:
  {{- if $conf.duration }}
  duration: {{ $conf.duration | toYaml | nindent 4 }}
  {{- end }}
  {{- if $conf.metadata }}
  metadata: {{ $conf.metadata | toYaml | nindent 4 }}
  {{- end }}
  {{- if $conf.secret }}
  secret: {{ $conf.secret | toYaml | nindent 4 }}
  {{- end }}
  {{- if $conf.serviceAccount }}
  serviceAccount: {{ $conf.serviceAccount | toYaml | nindent 4 }}
  {{- end }}
  {{- if $conf.targetCluster }}
  targetCluster: {{ $conf.targetCluster | toYaml | nindent 4 }}
  {{- end }}
  {{- if $conf.type }}
  type: {{ $conf.type | toYaml | nindent 4 }}
  {{- end }}
{{- end }}