{{- if .Values.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: linstor-gui-service
  namespace: {{ .Release.Namespace }}
spec:
  type: {{ .Values.service.type }}
  selector:
    app: linstor-gui
  ports:
    - protocol: TCP
      port: {{ .Values.service.port | default 8000 }}
      targetPort: 8000
      {{- if .Values.service.nodePort }}
      nodePort: {{ .Values.service.nodePort }}
      {{- end }}
{{- end }}