apiVersion: operator.dpu.nvidia.com/v1alpha1
kind: DPFOperatorConfig
metadata:
  name: dpfoperatorconfig
  namespace: {{ .Release.Namespace }}
spec:
{{- if .Values.dpuDetector }}
  dpuDetector: {{ .Values.dpuDetector | toYaml | nindent 4 }}
{{- end }}
{{- if .Values.dpuServiceController }}
  dpuServiceController: {{ .Values.dpuServiceController | toYaml | nindent 4 }}
{{- end }}
{{- if .Values.flannel }}
  flannel: {{ .Values.flannel | toYaml | nindent 4 }}
{{- end }}
{{- if .Values.imagePullSecrets }}
  imagePullSecrets: {{ .Values.imagePullSecrets | toYaml | nindent 4 }}
{{- end }}
{{- if .Values.kamajiClusterManager }}
  kamajiClusterManager: {{ .Values.kamajiClusterManager | toYaml | nindent 4 }}
{{- end }}
{{- if .Values.multus }}
  multus: {{ .Values.multus | toYaml | nindent 4 }}
{{- end }}
{{- if .Values.networking }}
  networking: {{ .Values.networking | toYaml | nindent 4 }}
{{- end }}
{{- if .Values.nvipam }}
  nvipam: {{ .Values.nvipam | toYaml | nindent 4 }}
{{- end }}
{{- if .Values.overrides }}
  {{- if eq .Values.overrides.kubernetesAPIServerVIP "auto" }}
  overrides: {{ omit .Values.overrides "kubernetesAPIServerVIP" | toYaml | nindent 4 }}
    kubernetesAPIServerVIP: {{ include "k8sServiceHost" . }}
  {{- else }}
  overrides: {{ .Values.overrides | toYaml | nindent 4 }}
  {{- end }}
{{- end }}
{{- if .Values.ovsCNI }}
  ovsCNI: {{ .Values.ovsCNI | toYaml | nindent 4 }}
{{- end }}
{{- if .Values.ovsHelper }}
  ovsHelper: {{ .Values.ovsHelper | toYaml | nindent 4 }}
{{- end }}
{{- if .Values.provisioningController }}
  {{- if eq (dig "installInterface" "installViaRedfish" "bfbRegistryAddress" "" .Values.provisioningController) "auto" }}
  {{- $autoLookup := dict "installInterface" (dict "installViaRedfish" ( dict "bfbRegistryAddress" (printf "%s:8080" (include "k8sServiceHost" .)))) }}
  provisioningController: {{ mergeOverwrite .Values.provisioningController $autoLookup | toYaml | nindent 4 }}
  {{- else }}
  provisioningController: {{ .Values.provisioningController | toYaml | nindent 4 }}
  {{- end }}  
{{- end }}
{{- if .Values.serviceSetController }}
  serviceSetController: {{ .Values.serviceSetController | toYaml | nindent 4 }}
{{- end }}
{{- if .Values.sfcController }}
  sfcController: {{ .Values.sfcController | toYaml | nindent 4 }}
{{- end }}
{{- if .Values.staticClusterManager }}
  staticClusterManager: {{ .Values.staticClusterManager | toYaml | nindent 4 }}
{{- end }}
{{- if .Values.sriovDevicePlugin }}
  sriovDevicePlugin: {{ .Values.sriovDevicePlugin | toYaml | nindent 4 }}
{{- end }}

