# Copyright 2025 NVIDIA CORPORATION
# SPDX-License-Identifier: Apache-2.0
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: kai-prometheus
rules:                                                                                              
- apiGroups:                                                                                        
  - ""                                                                                              
  resources:                                                                                        
  - nodes                                                                                           
  - nodes/metrics                                                                                   
  - services                                                                                        
  - endpoints                                                                                       
  - pods                                                                                            
  verbs:                                                                                            
  - get                                                                                             
  - list                                                                                            
  - watch                                                                                           
- apiGroups:                                                                                        
  - discovery.k8s.io                                                                                
  resources:                                                                                        
  - endpointslices                                                                                  
  verbs:                                                                                            
  - get                                                                                             
  - list                                                                                            
  - watch                                                                                           
- apiGroups:                                                                                        
  - networking.k8s.io                                                                               
  resources:                                                                                        
  - ingresses                                                                                       
  verbs:                                                                                            
  - get                                                                                             
  - list                                                                                            
  - watch                                                                                           
- nonResourceURLs:                                                                                  
  - /metrics                                                                                        
  - /metrics/cadvisor                                                                               
  verbs:                                                                                            
  - get                                                                                             