apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "kubevious-ui.fullname" . }}
  labels:
    app.kubernetes.io/component: {{ include "kubevious-ui.fullname" . }}
    {{- include "kubevious.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.ui.replicaCount }}
  selector:
    matchLabels:
      app.kubernetes.io/component: {{ include "kubevious-ui.fullname" . }}
      {{- include "kubevious.match-labels" . | nindent 6 }}
  template:
    metadata:
    {{- with .Values.ui.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      labels:
        app.kubernetes.io/component: {{ include "kubevious-ui.fullname" . }}
        {{- include "kubevious.labels" . | nindent 8 }}
    spec:
      {{- with .Values.ui.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      securityContext:
        {{- toYaml .Values.ui.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.ui.securityContext | nindent 12 }}
          image: "{{ .Values.ui.image.repository }}:{{ .Values.ui.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.ui.image.pullPolicy }}
          env:
            - name: NODE_ENV
              value: "production"
            - name: BACKEND_URL
              value: "{{ include "kubevious.endpoint" . }}"
            {{- if and (.Values.ingress.enabled) (gt (len .Values.ingress.tls) 0) }}
            - name: FORCE_HTTPS
              value: "true"
            {{- end }}
          ports:
            - name: http
              containerPort: 80
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /
              port: http
          readinessProbe:
            httpGet:
              path: /
              port: http
          resources:
            {{- toYaml .Values.ui.resources | nindent 12 }}
      {{- with .Values.ui.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.ui.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.ui.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
