{{- if .Capabilities.APIVersions.Has "security.openshift.io/v1/SecurityContextConstraints" }}
{{- if .Values.ocpCompatibility.hugepageConfiguration.enabled }}
apiVersion: machineconfiguration.openshift.io/v1
kind: MachineConfig
metadata:
  labels:
    machineconfiguration.openshift.io/role: {{ .Values.ocpCompatibility.hugepageConfiguration.machineConfigNodeLabel }}
  {{- if $.Values.ocpCompatibility.retainMachineConfig }}
  annotations:
    helm.sh/resource-policy: keep
  {{- end }}
  name: worker-hugepages-settings
spec:
  kernelArguments:
    - hugepagesz={{.Values.ocpCompatibility.hugepageConfiguration.hugepageSize }} hugepages={{ .Values.ocpCompatibility.hugepageConfiguration.hugepagesCount }}

...

apiVersion: machineconfiguration.openshift.io/v1
kind: MachineConfigPool
metadata:
  name: hugepages
spec:
  machineConfigSelector:
    matchExpressions:
      - {key: machineconfiguration.openshift.io/role, operator: In, values: [{{ .Values.ocpCompatibility.hugepageConfiguration.machineConfigNodeLabel }}]}
  {{- if .Values.ocpCompatibility.hugepageConfiguration.nodeSelector }}
  nodeSelector:
    {{- .Values.ocpCompatibility.hugepageConfiguration.nodeSelector | toYaml | nindent 4 }}
  {{- end }}
{{- end }}
{{- end }}
